<html>
    <header>
        <title>Hello World Template</title>
        <link href="assets/style.css" type="text/css" rel="stylesheet" />
        <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    </header>
    <body>
        <h1>Hello EJS</h1>
        <h1>User: <%= ID %></h1>
        <h1>queryString: <%= queryString %></h1>
    </body>
</html>